services:
  netzbremse-dashboard:
    build:
      context: .
      # Optional custom build settings (uncomment and set as needed)
      # platforms:
      #   - ${PLATFORM}
      args:
        VERSION: ${IMAGE_TAG:-latest}
        VCS_REF: ${GIT_SHA:-unknown}
        BUILD_DATE: ${BUILD_DATE:-}
    image: ghcr.io/lwndp/netzbremse-dashboard:${IMAGE_TAG:-latest}
    # Optional custom runtime setting (uncomment and set as needed)
    # platform: ${PLATFORM}
    container_name: netzbremse-dashboard
    restart: unless-stopped
    environment:
      - REFRESH_INTERVAL_SECONDS=3600
      - LOG_LEVEL="INFO" # Options: DEBUG, INFO, WARNING, ERROR
    volumes:
      - ./json-results:/data:ro # change <directory-or-volume> to a volume or path mapping
    ports:
      - "8501:8501"
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: "0.5"
# volumes:
#   <directory-or-volume>:
#     driver: local
